In [7]:
import pandas as pd
import openpyxl

In [4]:
import os
os.getcwd()

'/Users/roshans/Documents/Projects/quality_checks_statista/scripts'

In [8]:
df = pd.read_excel("/Users/roshans/Documents/Projects/quality_checks_statista/dataset/CaseStudy_Quality_sample25.xlsx")

In [9]:
df.head()

,timevalue,providerkey,companynameofficial,fiscalperiodend,operationstatustype,ipostatustype,geonameen,industrycode,REVENUE,unit_REVENUE
0,2019,19457,PZ CUSSONS PLC,31-May,ACTIVE,PUBLIC,United Kingdom,3290 - Other Manufacturing,1.679984e+10,GBP
1,2020,19457,PZ CUSSONS PLC,31-May,ACTIVE,PUBLIC,United Kingdom,3290 - Other Manufacturing,1.355518e+10,GBP
2,2021,19457,PZ CUSSONS PLC,31-May,ACTIVE,PUBLIC,United Kingdom,3290 - Other Manufacturing,1.110757e+10,GBP
3,2022,19457,PZ CUSSONS PLC,31-May,ACTIVE,PUBLIC,United Kingdom,3290 - Other Manufacturing,9.359479e+09,GBP
4,2023,19457,PZ CUSSONS PLC,31-May,ACTIVE,PUBLIC,United Kingdom,3290 - Other Manufacturing,1.679984e+10,GBP

In [10]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 372 entries, 0 to 371
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   timevalue            372 non-null    int64
 1   providerkey          372 non-null    object
 2   companynameofficial  370 non-null    str
 3   fiscalperiodend      372 non-null    object
 4   operationstatustype  372 non-null    str
 5   ipostatustype        372 non-null    str
 6   geonameen            372 non-null    str
 7   industrycode         372 non-null    str
 8   REVENUE              281 non-null    float64
 9   unit_REVENUE         294 non-null    str
dtypes: float64(1), int64(1), object(2), str(6)
memory usage: 29.2+ KB

In [11]:
print("Missing rate per column:", df.isna().mean())

Missing rate per column: timevalue              0.000000
providerkey            0.000000
companynameofficial    0.005376
fiscalperiodend        0.000000
operationstatustype    0.000000
ipostatustype          0.000000
geonameen              0.000000
industrycode           0.000000
REVENUE                0.244624
unit_REVENUE           0.209677
dtype: float64

In [ ]:
print("Value counts for Units")
print(df["unit_REVENUE"].value_counts())

Value counts
unit_REVENUE
INR    132
GBP    131
EUR      9
SEK      9
USD      7
DKK      6
Name: count, dtype: int64